body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
}

nav {
  display: flex;
  background-color: #eee;
}

nav a {
  flex: 1;
}

nav a.current {
  font-weight: bold;
}